exportPattern("^[[:alpha:]]+")
import(cluster)
import(lme4)
S3method(powerTransform,default)
S3method(powerTransform,lm)
S3method(powerTransform,formula)
S3method(print,powerTransform)
S3method(print,summary.powerTransform)
S3method(summary,powerTransform)
S3method(plot,powerTransform)
S3method(coef,powerTransform)
S3method(vcov, powerTransform)
S3method(testTransform,powerTransform)


